extends layout

block content
  .demo-center-text
    h3= message
    if error !== undefined && error.stack !== undefined
      pre #{error.stack}
    p
      | Click 
      a(href=url) here
      |  to restart the verification process, or click on the link in the email we sent you!      
